body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color:#e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  background-color: #3b5998;
  color: white;
}

.logo{
  font-size:50px;
  font-weight: bolder;
}

.company{
  margin-left:100px;
}

.login{
  margin-right:100px;
  border: 0;
  color:white;
  background-color:#3b5998;
}

.register{
  background-color: #42b72a;
  border: 0;
  color:white;
}
main{
  margin:10px 100px;
}

.home-list{
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}

.home{
  background-color: white;
  text-align: center;
  margin: 20px 10px;
  width: 500px;
  height:500px;
  
}

.home-image{
  margin:20px 0;
  width:200px;
  height:200px;
}

.home-caption{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}

.home-describe{
  color:grey;
  margin-bottom: 90px;
}